<div class="condition" style="border: 1px solid solid;">
	<form id="Y_search_form" action="" method="post">	
		<div class="Y_search_btn">
			<input class="Y_search" type="search" name="" required="" placeholder="订单号、样本编号" x-webkit-speech="" x-webkit-grammar="builtin:search" lang="zh-CN">
			<input class="Y_searchBtn" type="submit" value="查询"/>
		</div>
		<!--<input class="choiceName" type="button" id="" value="查看" />-->
	</form>
	<div class="chart">
	<table class="sampleTable" border="" cellspacing="" cellpadding="">
		<thead class="sampleTable_th">
			<tr >
				<th>下单人</th>
				<th>下单时间</th>
				<th>订单号</th>
				<th>样本编号</th>
				<th>检测项目</th>
				<th>样本类型</th>
				<th>更新时间</th>
				<th>状态</th>
			</tr>
		</thead>
		<tbody class="sampleTable_tbody">
			<tr >
				<td>xiawt</td>
				<td>2016-12-01 15:08:09</td>
				<td>20161100001301</td>
				<td>BL20</td>
				<td>百菌探</td>
				<td>组织液</td>
				<td>2016-11-30 14:46:03</td>
				<td>等待上机</td>
			</tr>
		
			
		</tbody>
	</table>
	<!------------分页-------------->
	 <div class="pageTest pages"></div>
</div>
</div>


