<div class="condition" style="border: 1px solid skyblue;">
	<form id="Y_search_form" action="" method="post">	
		<div class="Y_search_btn">
			<input class="Y_search" type="search" name="" required="" placeholder="订单号、样本编号" x-webkit-speech="" x-webkit-grammar="builtin:search" lang="zh-CN">
			<input class="Y_searchBtn" type="submit" value="查询"/>
		</div>
		<!--<input class="choiceName" type="button" id="" value="查看" />-->
	</form>
	<div class="chart">
	<table class="sampleTable" border="" cellspacing="" cellpadding="">
		<thead class="sampleTable_th">
			<tr >
				<th>用户</th>
				<th>上传日期</th>
				<th>datakey</th>
				<th>APP</th>
				<th>文件名称</th>
				<th>projectName</th>
				<th>sampleName</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody class="sampleTable_tbody">
			<tr >
				<td>linyc</td>
				<td>2016-01-01 01:01:01</td>
				<td>20160101</td>
				<td>PGS</td>
				<td>a.bam</td>
				<td>1389</td>
				<td>C0151</td>
				<td>查看报告</td>
			</tr>
			<tr >
				<td>linyc</td>
				<td>2016-01-01 01:01:01</td>
				<td>20160101</td>
				<td>PGS</td>
				<td>a.bam</td>
				<td>1389</td>
				<td>C0151</td>
				<td>查看报告</td>
			</tr>
			
		</tbody>
	</table>
	<!------------分页-------------->
	 <div class="pageTest pages"></div>
</div>
</div>


