<div class="condition">
	<form id="searchForm" action="	" method="get" 	>
		<div class="customer">
			<span class="choiceName">客&emsp;&emsp;户：</span>
			<div class="">
				<i>燕大</i><input type="checkbox" name="燕大" id="" value="yanda" />
			</div>
			<div class="">
				<i>嘉宝</i><input type="checkbox" name="嘉宝" id="" value="jiabao" />
			</div>
			<div class="">
				<i>达安</i><input type="checkbox" name="达安" id="" value="daan" />
			</div>
			<div class="">
				<i>地坛</i><input type="checkbox" name="地坛" id="" value="ditan" />
			</div>
		</div>
		<!--<input class="choiceName" type="button" id="" value="查看" />-->
		
	</form>

</div>
<div class="chart">
	<table class="paymentTable" border="" cellspacing="" cellpadding="">
		<thead class="paymentTable_th">
			<tr >
				<th>月份</th>
				<th>项目</th>
				<th>数据个数</th>
				<th>数据大小</th>
			</tr>
		</thead>
		<tbody class="paymentTable_tbody" >
			<tr>
				<td>2016年10月</td>
				<td>百菌探</td>
				<td>200</td>
				<td>200</td>
			</tr>
			<tr>
				<td>2016年10月</td>
				<td>华木兰</td>
				<td>200</td>
				<td>200</td>
			</tr>
			<tr>
				<td>2016年10月</td>
				<td>合计</td>
				<td>200</td>
				<td>200</td>
			</tr>
		</tbody>
	</table>
	<!------------分页-------------->
	<div class="pageTest pages"></div>
</div>
