<div class="condition" style="border: 1px solid solid;">
	
	<div class="chart">
	<table class="sampleTable" border="" cellspacing="" cellpadding="">
		<thead class="sampleTable_th">
			<tr >
				<th>截止日期</th>
				<th>数据个数</th>
				<th>项目报告</th>
				<th>数据报告</th>
				<th>医院数量</th>
				<th>用户数量</th>
				<th>数据大小（TB）</th>
			</tr>
		</thead>
		<tbody class="sampleTable_tbody">
			<tr >
				<td>截止上周</td>
				<td>1000</td>
				<td>2000</td>
				<td>2000</td>
				<td>200</td>
				<td>138</td>
				<td>200</td>
			</tr>
			<tr >
				<td>截止本周</td>
				<td>1000</td>
				<td>2000</td>
				<td>2000</td>
				<td>200</td>
				<td>138</td>
				<td>200</td>
			</tr>
			
		</tbody>
	</table>
	<!------------分页-------------->
	 <div class="pageTest pages"></div>
</div>
</div>


