<div class="condition" style="border: 1px solid solid;">
	
	<div class="chart">
	<table class="sampleTable" border="" cellspacing="" cellpadding="">
		<thead class="sampleTable_th">
			<tr >
				<th>统计日期</th>
				<th>数据个数</th>
				<th>登录次数</th>
				<th>活跃用户</th>
				<th>数据大小GB</th>
				<th>活跃APP</th>
				<th>APP运行次数</th>
				<th>新增医院</th>
				<th>新增用户</th>
			</tr>
		</thead>
		<tbody class="sampleTable_tbody">
			<tr >
				<td>上周</td>
				<td>1000</td>
				<td>2000</td>
				<td>200</td>
				<td>200</td>
				<td>13</td>
				<td>200</td>
				<td>13</td>
				<td>20</td>
			</tr>
			<tr >
				<td>本周</td>
				<td>1000</td>
				<td>2000</td>
				<td>200</td>
				<td>200</td>
				<td>13</td>
				<td>200</td>
				<td>13</td>
				<td>20</td>
			</tr>
			
		</tbody>
	</table>
	<!------------分页-------------->
	 <div class="pageTest pages"></div>
</div>
</div>


