* {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 0.24rem;
	/*box-sizing: border-box;*/
}
input{outline: none;}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
tr,
td,
dl,
dd,
form,
i,
span,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0
}

a {
	color: #172c45;
	text-decoration: none
}

a:hover {
	color: #cd0200;
	text-decoration: underline
}

em,
i,
li {
	font-style: normal;
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

p {
	word-wrap: break-word
}

body,
html {
	width: 100%;
	min-height: 100%;
	
	
}
/*大模块*/
*{box-sizing: border-box;/*border: 1px solid skyblue;*/font-size: 14px;}
#container{width: 100%;min-height: 600px;/*background: linear-gradient(blue,#fff);*/display: flex;justify-content: space-around;}
header{width: 100%;height: 7%;/*background: blue;*/margin-bottom: 5px;display: -webkit-flex; /* Safari */display: flex; justify-content: space-between;align-items: center;}
nav{width: 14%;height: auto;background: rgba(36,137,197,0.5);border-radius: 8px;margin-left: 2px;}
article{width: 85%;height:auto ;/*background: #4CAE4C;*/border-radius: 8px;background: rgba(128,128,128,0.2);display: flex;justify-content:flex-start;flex-flow: column nowrap;}
footer{width: 100%;height: 10%;/*background: cornflowerblue;*/}

/*logo*/
.logo{display: block;width: 186px;height:47px;margin: 5px;}
.logo img{display: block;width: 100%;height:100%;}
/*登陆按钮*/
.logway{width: 55px;height: 25px;text-align: center;line-height: 25px;}
/*menu*/
#nav {margin:0 auto 60px; width:100%; display:block;padding-top: 5px;}
#nav .jquery_out {float:left;line-height:32px;display:block; border-right:1px solid #2489C5; text-align:center; color:#fff;font:18px/32px "微软雅黑"; }
#nav .jquery_out .smile {padding-left:1em;}
#nav .jquery_inner {margin-left:16px;}
#nav .jquery {margin-right:1px;padding:0 2em;}
#nav .mainlevel {    
	background: #fff;
    border-right: 1px solid #2489C5;
    border-radius: 8px;
    width: 98%;
    margin: 5px auto;}
#nav .mainlevel a {    color: #000;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
    display: block;
    /* padding: 0 20px; */
    width: 100%;}
#nav .mainlevel a:hover {color:#000; text-decoration:none;}
#nav .mainlevel ul {    
	display:none;	
	position:absolute;
	width: 13.6%;
    margin: 0 auto}
#nav .mainlevel li {    
	background: #fff;
    width: 100%;
    border-radius: 8px;
    margin: 1px auto;}
#nav .mainlevel li:hover{border:2px solid #2489C5; }

/*阴影效果*/
nav:hover{   
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
  box-shadow:0 0 10px rgba(0, 0, 0, .5); 
   }
article:hover{   
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
  box-shadow:0 0 10px rgba(0, 0, 0, .5); 
   }































